<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body class="cart">
    <%- include('../partials/header.ejs') %> 
    <main>
        <div class="carrito-cart"><span>Articulos ( <%= contador %> )</span><span
                class="line-carrito-cart"></span>
        </div>
        <section class="sec-cart-article">
            <% cart.forEach(cartElement => { %>
                <article class="article-cart">
                    <img class="product-cart" src="/images/products/<%=cartElement.images[0].fileName%> " alt="img-product-cart">
                    <div class="list-product-cart">
                        <div class="name-product-cart">
                            <span class="title-product-cart"><%= cartElement.name %> </span><span class="quit-product-cart" onclick="eliminarItem('<%=cartElement.id%>')">x</span>
                        </div>
                        <ul class="descript-product-cart">
                            <li><%= cartElement.description %> </li>
                        </ul>
                        <span class="cantidad-product-cart">cantidad : </span><span class="cant-num-product-cart"><%= cartElement.quantity %>  v</span>
                        <P class="price-product-cart">Precio : <%= cartElement.price %> </P>
                    </div>
                </article>
            <% }) %>
        </section>
        <section class="sec-subtotal-cart">
            <div class="subtotal-line-cart">
                <div class="div-subtotal-word-cart">
                    <p class="subtotal-word-cart">Subtotal</p>
                </div>
                <div class="div-subtotal-num-cart">
                    <p class="subtotal-num-cart">$ 
                     <%= subtotal %>
                    </p>
                </div>
            </div>
            <div class="div-location-line-cart">
                <div class="location-cart">
                    <div class="div-costo-env-word-cart">
                        <p class="costo-envio-word-cart">
                            Costo de Envio
                        </p>
                    </div>
                    <div class="div-but-location-cart">
                        <button class="but-location-cart">Ubicación</button>
                    </div>
                </div>
                <div class="div-env-num-location">
                    <p env-num-location>
                        $500
                    </p>
                </div>
            </div>
            <div class="desc-line-cart">
                <div class="cod-desc-cart">
                    <div class="div-a-cod-desc-cart">
                        <input class="input-cod-desc-cart" type="text" placeholder="Codigo">
                        <button class="but-cod-desc-cart">Ver Descuento</button>
                    </div>
                    <div class="num-cod-desc-cart">
                        $-500
                    </div>
                </div>
            </div>
            <div class="total-line-cart">
                <div class="word-total-cart">
                    Total
                </div>
                <div class="num-total-cart">
                    $ <%=total%> 
                </div>
            </div>
            <div class="div-button-pay-cart">
                <button class="but-pay-cart">
                    Pagar
                </button>
            </div>
            <div class="credit-cards-cart" ><img class="credit-cards-img" src="/images/credit-cards.png" alt="Credit Card"></div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts.ejs') %>
</body>

</html>