<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title : 'ProductDetail'}) %>

    <body class="productDetail">
        <%- include('../partials/header.ejs') %>
            <main>
                <section>
                    <div class="imagen-fondo">
                        <img src="/images/detailproduct/fondo.png" alt="" class="fondo-img">
                    </div>
                    <div class="caja-producto">
                        <h1 class="caja-producto-titulo">Nombre Producto</h1>
                        <div class="caja-imagen-precio">
                            <div class="caja1-imagenes">
                                <div class="product-imagen">
                                    <div class="small-imagen">
                                        <img src="/images/detailproduct/teclado-small-1.png" alt="teclado-gamer"
                                            class="small-1">
                                        <img src="/images/detailproduct/teclado-small-2.png" alt="teclado-gamer"
                                            class="small-2">
                                        <img src="/images/detailproduct/teclado-small-3.png" alt="teclado-gamer"
                                            class="small-3">
                                    </div>
                                    <img src="/images/detailproduct/teclado.png" alt="teclado-gamer"
                                        class="principal-imagen">
                                    <a href="">
                                        <img src="/images/icons/logo-heart.svg" alt="icon-heart" class="icono-heart">
                                    </a>
                                    <span class="numeroimagen">1/4</span>

                                </div>

                            </div>
                        </div>
                        <div class="detalle-precio">
                            <div class="caja-desktop-titulo">
                                <h2 class="titulo-producto2">
                                    <%= producto.name %>
                                </h2>
                                <a href="">
                                    <img src="/images/icons/logo-heart.svg" alt="icon-heart" class="icono-heart">
                                </a>
                            </div>
                            <% if (producto.discount > 0) { %>
                                <s>$ <%= toThousand(producto.price)%></s>
                                <% } %>
                                    <div class="caja-precio">
                                        <% if (producto.discount> 0) { %>
                                            <span class="precio">$ <%= toThousand(conDescuento(producto.price,
                                                    producto.discount)) %> </span>
                                            <span class="descuento">
                                                <%=producto.discount %> %OFF
                                            </span>
                                            <% } else { %>
                                                <span class="precio">$ <%= toThousand(producto.price) %> </span>
                                                <% } %>
                                    </div>
                                    <div class="cuotas">
                                        <span class="cuotasverde">en <%= cuotas(producto.cuotas)%>x $<%=
                                                    (conDescuento(producto.price, producto.discount)/
                                                    cuotas(producto.cuotas)).toFixed(2) %> sin interes </span></p>
                                    </div>
                                    <div class="pagos">
                                        <span>Ver</span><a class="mediospago" href=""> Medios de pago</a>
                                        <% if (producto.envioFree===true) { %>

                                            <div class="truck-envio">
                                                <i class="fas fa-truck"></i>
                                                <span class="enviogratis">Envio Gratis</span>
                                                <% } %>
                                            </div>
                                            <div class="stock">
                                                <% if (producto.stock> 0) { %>
                                                    <p>stock disponible</p>
                                                    <div class="comprarcantidad">
                                                        <span>cantidad :</span>
                                                        <select class="boton-stock">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <% if (producto.stock>0) { %>

                                                <div class="comprar"> <a href="/products/cart"><button type="button"
                                                            class="boton-comprar">Comprar
                                                            ahora</button></a>
                                                    <% } else { %>
                                                        <h2>sin stock</h2>
                                                        <% } %>


                                                </div>
                                    </div>
                        </div>
                    </div>
                    <div class="description-product">
                        <ul>
                            <li>
                                <%= producto.description %>
                            </li>
                        </ul>
                    </div>
                    <article class="box">
                        <h2>Otros productos</h2>
                        <div class="product-container">
                            <div class="product-container2">
                                <div class="producto top">
                                    <div class="card-title">
                                        <h5>nombre producto</h5>
                                    </div>
                                    <img src="/images/products/H510-1.png" alt="producto">
                                    <div class="heart">
                                        <img src="/images/icons/logo-heart.svg" alt="corazon">
                                    </div>
                                    <div class="masVendido">
                                        <p class="cartel-vendido">mas vendido</p>
                                        <p class="descuento">33%OFF</p>
                                    </div>
                                    <div class="precio-desc">
                                        <h5>$1324,56</h5>
                                        <p>33%OFF</p>
                                        <img src="/images/icons/carrito-comprar.svg" alt="">
                                    </div>
                                    <div class="subtitle">
                                        <h5>nombre producto</h5>
                                        <div class="info">
                                            <a href="/productDetail">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="envio">
                                        <i class="fas fa-truck"></i>
                                        <p>envio gratis</p>
                                    </div>
                                    <div class="especificaciones">
                                        <a href="/productDetail">especificaciones</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <a href="/productList" class="ver-mas">Ver más</a>
                            <a href="/productList" class="ver-mas">></a>
                        </div>
                    </article>
                </section>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>