<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {title : 'ProductEdit'}) %>

<body class="productEdit">
    <%- include('../partials/header.ejs') %>
    <section>
        
        <h1>Editar producto</h1>
        <form action="/products/productEdit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
            <div class="checkbox">
                <label for="discount">NOMBRE</label>
            </div>
            <input type="text" name="name" id="" placeholder="Nombre del Producto" required value="<%= producto.name %> ">
            <label class="description-lab" for="description">Descripción</label>
            <textarea class="description-text" name="description" cols="10" rows="5"><%= producto.description %></textarea>
            <div class="checkbox">
                <label for="images">IMAGEN</label>
            </div>
            <!-- <div class="div-image">
                <label class="image" for="images">Elegir Imagen Principal</label>
                <input class="file" type="file" name="images" multiple id="image" accept=".png, .jpeg, .jpg" required>
            </div> -->
            <div >
                <input class="upload-box" value="<%= producto.images %> "type="file" multiple name="images" id="image" accept=".png, .jpeg, .jpg" >
            </div>
            <div class="checkbox">
                <label for="stock">Stock Disponible</label>
            </div>
            <input type="number" name="stock" value="<%= producto.stock %>" placeholder="Stock Disponible">
            <div class="checkbox">
                <label for="price">PRECIO</label>
            </div>
            <input type="number" name="price" placeholder="Precio" value="<%= producto.price %>">
            <div class="checkbox">
                <label for="discount">Descuento</label>
            </div>
            <input type="number" name="discount" placeholder="Porcentaje de Descuento" value="<%= producto.discount %>">
            <div class="checkbox">
                <input type="checkbox" name="envioFree" id="" <% if (producto.shipping === true) { %>
                 checked
                <% } %> >
                <label for="envioFree">Envio Gratis</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="masVendido" value=true id="masVendido" <% if (producto.bestSeller === true) { %>
                 checked
                <% } %> >
                <label for="masVendido">Mas Vendido</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="oferta" value=true id="oferta" <% if (producto.offer === true) { %>
                 checked
                <% } %> >
                <label for="cuota">Oferta</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="show" value=true id="show" <% if (producto.showMenu === true) { %>
                 checked
                <% } %> >
                <label for="cuota">Mostrar en Home</label>
            </div>
            <select name="categoryId" id="category" value=Categorias>
                   <% categorias.forEach(categoria => { %>
                         <option value="<%= categoria.id %>" <%= categoria.id == producto.categoryId ? 'selected' : null %> ><%= categoria.name %></option>
                        <% }) %>
            </select>
            <input type="submit" value="Guardar Cambios" class="button-continuar">
        </form>

    </section>
    <%- include('../partials/footer.ejs') %>

</body>

</html>