<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title : 'productAdmin'}) %> 

    <body class="productAdmin">
        <%- include('../partials/header.ejs') %>
        
        <div class="tabla-admin">

            <h1 class="h1-admin">Lista Productos</h1>

            <table>
        <tr class="fijo-admin">
          <td class="naranja-table">ID</td>
          <td class="naranja-table">Nombre</td>
          <td class="naranja-table">Stock</td>
          <td class="naranja-table">Precio</td>
          <td class="naranja-table">Descuento</td>
          <td class="naranja-table">Envio</td>
          <td class="naranja-table">Mas vendido</td>
          <td class="naranja-table">Oferta</td>
          <td class="naranja-table">Show</td>
          <td class="naranja-table">Categoria</td>
          <td class="naranja-table">Descripcion</td>
          <td class="naranja-table">Vista</td>
          <td class="naranja-table">Editar</td>
          <td class="naranja-table">Borrar</td>
        </tr>
        <% productos.forEach(producto => { %>
            <tr>
                <td class="violeta-table"><%= producto.id %></td>
                <td class="gris-table"><%= producto.name %></td>
                <td class="gris-table"><%= producto.stock %></td>
                <td class="violeta-table">$<%= producto.price %></td>
                <td class="gris-table"><%= producto.discount %>%</td>
                <td class="violeta-table"><%= producto.shipping != false ? 'si' : 'no' %></td>
                <td class="gris-table"><%= producto.bestSeller != false ? 'si' : 'no' %></td>
                <td class="violeta-table"><%= producto.offer != false ? 'si' : 'no' %></td>
                <td class="gris-table"><%= producto.showMenu != false ? 'si' : 'no' %></td>
                <td class="violeta-table"><%= producto.category.name %></td>
                <td ><textarea class="description-text-admin" name="description" cols="10" rows="3"><%= producto.description%></textarea></td> 
                <td><a class="boton-admin admin-detail" href="/products/productDetail/<%= producto.id %>">Ver</a></td>
                <td><a class="boton-admin admin-edit" href="/products/productEdit/<%= producto.id %>">Editar</a></td>
                <td><form action="/products/productDelete/<%=producto.id %>?_method=DELETE" method="POST" id='formDelete<%=producto.id%>'>
                    <button class="boton-admin admin-delete" type='submit' onclick="confirmRemove(event,document.querySelector('#formDelete<%=producto.id%>'))">Borrar</button>
                 </form></td>
                           
              </tr>
            <% }) %>      
        </table>
        </div>
        <%- include('../partials/footer.ejs') %>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <%- include('../partials/scripts.ejs') %>
        <script src="/javascripts/admin.js"></script>
        
    </body>

</html>