<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title : 'ProductDetail'}) %>

    <body class="productDetail">
        <%- include('../partials/header.ejs') %>
            <main>
                <section>
                    <div class="imagen-fondo">
                        <img src="/images/detailproduct/fondo.png" alt="" class="fondo-img">
                    </div>
                    <div class="caja-producto">
                        <h1 class="caja-producto-titulo"><%= producto.name %></h1>
                        <div class="caja-imagen-precio">
                            <div class="caja1-imagenes">
                                <div class="product-imagen">
                                    <div class="small-imagen">
                                        <img src="/images/products/<%= producto.images[0].fileName%>" alt="teclado-gamer"
                                            class="small-1">
                                        <img src="/images/products/<%= producto.images[1].fileName%>" alt="teclado-gamer"
                                            class="small-2">
                                        <img src="/images/products/<%= producto.images[2].fileName%>" alt="teclado-gamer"
                                            class="small-3">
                                    </div>
                                    <img src="/images/products/<%= producto.images[0].fileName%>" alt="teclado-gamer"
                                        class="principal-imagen">
                                    <!-- <a href="">
                                        <img src="/images/icons/logo-heart.svg" alt="icon-heart" class="icono-heart">
                                    </a> -->
                                    <span class="numeroimagen">1/3</span>

                                </div>

                            </div>
                        </div>
                        <div class="detalle-precio">
                            <div class="caja-desktop-titulo">
                                <h2 class="titulo-producto2">
                                    <%= producto.name %>
                                </h2>
                                <!-- <a href="">
                                    <img src="/images/icons/logo-heart.svg" alt="icon-heart" class="icono-heart">
                                </a> -->
                            </div>
                            <% if (producto.discount > 0) { %>
                                <s>$ <%= toThousand(producto.price)%></s>
                                <% } %>
                                    <div class="caja-precio">
                                        <% if (producto.discount> 0) { %>
                                            <span class="precio">$ <%= toThousand(conDescuento(producto.price,
                                                    producto.discount)) %> </span>
                                            <span class="descuento">
                                                <%=producto.discount %> %OFF
                                            </span>
                                            <% } else { %>
                                                <span class="precio">$ <%= toThousand(producto.price) %> </span>
                                                <% } %>
                                    </div>
                                   
                                    <div class="pagos">
                                        <span>Ver</span><a class="mediospago" href=""> Medios de pago</a>
                                        <% if (producto.shipping===true) { %>

                                            <div class="truck-envio">
                                                <i class="fas fa-truck"></i>
                                                <span class="enviogratis">Envio Gratis</span>
                                                <% } %>
                                            </div>
                                            <div class="stock">
                                                <% if (producto.stock> 0) { %>
                                                    <p>stock disponible <%= producto.stock %>  </p>
                                                    <div class="comprarcantidad">
                    
                                                    </div>
                                                    <% } %>
                                            </div>
                                            <% if (producto.stock>0) { %>

                                                <div class="comprar"> <a href="/products/cart"><button type="button"
                                                            class="boton-comprar">Comprar
                                                            ahora</button></a>
                                                    <% } else { %>
                                                        <h2>sin stock</h2>
                                                        <% } %>


                                                </div>
                                    </div>
                        </div>
                    </div>
                    <div class="description-product">
                        <ul>
                            <li>
                                <%= producto.description %>
                            </li>
                        </ul>
                    </div>
                    <article class="box">
                        <h2>Otros productos</h2>
                        <div class="product-container">
                            <div class="product-container2">
                                <% relacionados.forEach(producto => { %>
                                <% if ((producto.bestSeller == true) && (producto.showMenu == true)) { %>
                                <div class="producto top">
                                    <div class="card-title">
                                        <h5><%= producto.name %></h5>
                                    </div>
                                    <a href="/products/productDetail/<%= producto.id %>"><img src="/images/products/<%= producto.images[0].fileName%>" alt="producto"></a>
                                    <!-- <div class="heart">
                                        <img src="/images/icons/logo-heart.svg" alt="corazon">
                                    </div> --> 
                                    <% if (producto.discount > 0) { %>
                                        
                                        <div class="masVendido">
                                            <% if (producto.bestSeller === true) { %>
                                             
                                                <p class="cartel-vendido">mas vendido</p>
                                                <p class="descuento"><%= producto.discount %>%OFF</p>
                                            </div>
                                            <% }else {  %>
                                            <p class="descuento"><%= producto.discount %>%OFF</p>
                                        </div>
                                    <% } %>
                                   <% } else  {%>
                                    <div class="masVendido">
                                        <% if (producto.bestSeller === true) { %>
                                         
                                            <p class="cartel-vendido">mas vendido</p>
                                        </div>
                                        <% }else {  %>
                                            <div class="espacio-div"><p></p></div>
                                    </div>
            
                                    <% } %>
            
                                    <% } %>
                                    <div class="precio-desc">
                                        <% if (producto.discount > 0) { %>
                                            <s>$ <%= toThousand(producto.price)%></s>
                                            <% } else{ %>
                                                <span>$ <%= toThousand(producto.price)%></span>
                                                <% } %>    
                                        <p><%= producto.discount%>% OFF</p>
                                        <% if (producto.discount> 0) { %>
                                            <span class="precio">$ <%= toThousand(conDescuento(producto.price,
                                            producto.discount)) %> </span>
                                        <% } %>
                                    </div>
                                    <div class="subtitle">
                                        <h5><%= producto.name %></h5>
            
                                        
                                        <div class="info">
                                            <a href="/products/productDetail/<%= producto.id %>">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <% if (producto.envioFree === true) { %>
                                        <div class="envio">
                                            <i class="fas fa-truck"></i>
                                            <p>envio gratis</p>
                                        </div>
                                        <% }else {  %>
                                            <div class="espacio-div"><p></p></div>
                                    <% } %>
                                    <div class="precio-desc">
                                        <img src="/images/icons/carrito-comprar.svg" alt="">
                                    </div>
                                    <!-- <div class="especificaciones">
                                        <a href="/products/productDetail/<%= producto.id %>">especificaciones</a>
                                    </div> -->                            
                                </div>
                                <% } %>                   
                                <% }) %>
                            </div>
                        </div>
                        <div class="more">
                            <a href="/products/productList/7" class="ver-mas">Ver más</a>
                            <a href="/products/productList/7" class="ver-mas">></a>
                        </div>
                    </article>
                </section>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>