<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title : 'ProductAdd'}) %>

    <body class="productAdd">
        <%- include('../partials/header.ejs') %>
            <section>
                
                <h1>carga de productos</h1>
                
                <form action="/products/productAdd" id="product-form" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name" id="name" placeholder="Nombre del Producto" value="<%= locals.old && old.name ? old.name : null %>">
                    <span class="text-danger" id="error-name"><%= locals.errores && errores.name ? errores.name.msg : null %> </span>
                    <label class="description-lab" for="description">Descripción</label>
                        <textarea id="description" class="description-text" name="description" cols="10" rows="5"><%= locals.old && old.description ? old.description : null %></textarea> 
                        <span class="text-danger" id="error-description"><%= locals.errores && errores.description ? errores.description.msg : null %> </span>
                    <div>
                        <label class="stock" for="image">Elegir Imagen Principal</label>
                        
                    </div>
                    <div >
                            <input class="upload-box" type="file" multiple name="images" id="image" accept=".png, .jpeg, .jpg" required>
                        </div>
                    <span class="text-danger" id="error-images"><%= locals.errores && errores.images ? errores.images.msg : null %> </span>
                    <div class="checkbox">
                        <label for="stock">Stock Disponible</label>
                    </div>
                    <input type="number" name="stock"  id="stock" value="<%= locals.old && old.stock ? old.stock : null %>" placeholder="Stock Disponible">
                    <span class="text-danger" id="error-stock"><%= locals.errores && errores.stock ? errores.stock.msg : null %> </span>

                    <input type="number" name="price" id="price" value="<%= locals.old && old.price ? old.price : null %>" placeholder="Precio">
                    <span class="text-danger" id="error-price" ><%= locals.errores && errores.price ? errores.price.msg : null %> </span>
                    <div class="checkbox">
                        <label for="discount">Descuento</label>
                    </div>
                    <input type="number" name="discount" id="discount" value="<%= locals.old && old.discount ? old.discount : null %>" placeholder="Porcentaje de Descuento">
                    <span class="text-danger" id="error-discount"><%= locals.errores && errores.discount ? errores.discount.msg : null %> </span>
                    <div class="checkbox">
                        <input type="checkbox" value=true name="envioFree" id="">
                        <label for="envioFree">Envio Gratis</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="masVendido" value=true id="masVendido">
                        <label for="masVendido">Mas Vendido</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="oferta" value=true id="oferta">
                        <label for="cuota">Oferta</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="show" value=true id="show">
                        <label for="cuota">Mostrar en Home</label>
                    </div>
                    <select name="category" id="category" >
                        <option value="" select hidden>Categoria</option>
                        <% categorias.forEach(category => { %>
                        <option value="<%= category.id %>" <%= locals.old && old.category == category.id ? 'selected' : null%> ><%= category.name %></option>
                        <% }) %>
                    </select>
                    <span class="text-danger" id="error-category"><%= locals.errores && errores.category ? errores.category.msg : null %> </span>
                    <input type="submit" value="Cargar Producto" class="button-continuar">
                </form>
                <span id="error-empty" class="text-danger"></span>

            </section>
            <script src="/javascripts/productValidator.js"></script>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>