<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %>

<body class="login">
    <%- include('../partials/header.ejs') %>
    <section>
        <h1 class="h1-ingresar">Ingresar</h1>
        <span id="error-empty" class="text-danger small"></span>
        <div class="caja-login"> 
        <form action="/users/login" method="POST" id="form-login">
            <div>
                <input type="email" name="email" placeholder="Email" id="email" class="input-naranja <%= locals.errores && locals.errores.email ? 'is-invalid' : null %>">
                <span class="text-danger small" id="error-email"><%= locals.errores && locals.errores.email && errores.email.msg != 'credenciales inválidas' ? errores.email.msg : null %> </span>
                <div class="span-eye-input">
                    <span class="icon-eye"><i class="fas fa-eye-slash"></i></span>
                    <input type="password" name="password" placeholder="Contraseña" id="password" class="input-naranja <%= locals.errores && locals.errores.email ? 'is-invalid' : null %>">
                </div>
                <span class="text-danger small" id="error-password"><%= locals.errores && locals.errores.password ? errores.password.msg : null %> </span>
            </div>

            <div class="remember">
                <label for="remember">RECUERDAME</label>
                <input class="remembercheck" type="checkbox" name="remember" id="remember">
            </div>

            <p><a class="naranja"  href="">Olvidé mi contraseña </a></p>
            <input type="submit" value="Ingresar" class="boton-ingresar">
            <span class="text-danger"><%= locals.errores && errores.email && errores.email.msg != 'El email es obligatorio' ? errores.email.msg : null%> </span>
        </form>
        <h6>eres nuevo? <a class="violet" href="/users/register"> Registrarme</a></h6>
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts.ejs') %>
    <script src="/javascripts/loginValidator.js"></script>
    <script src="/javascripts/login.js"></script>
</body>

</html>