<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs', {title : 'UserProfile'}) %>

<body class="userProfile">
    <%- include('../partials/header.ejs') %>
    <h2 class="profile-title">Bienvenido a tu perfil <%=locals.userLogin.nombre%></h2>

    <form action="/users/userProfile/<%=locals.userLogin.id%>?_method=PUT" method="POST" class="form">
        
        <h3>Icono actual:</h3>
        <div class="avatar">
            <img src="/images/userAvatar/<%=locals.userLogin.image%>" alt="userAvatar">
        </div>
        <h3>Elegí tu avatar:</h3>
        <div class="avatar-election">
            <% avatars.forEach(avatar => { %>
                <label>
                    <input type="radio" name="avatarId" value="<%=avatar.id%>">
                    <img src="/images/userAvatar/<%=avatar.name%>"  alt="avatar">
                </label>
            <% }) %>
        </div>
        </div>
        <div class="inputBox">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="" placeholder="Nombre" value="<%=locals.userLogin.nombre%>">
        </div>

        <div class="inputBox">
        <label for="nombre">Apellido</label>
        <input type="text" name="apellido" id="" placeholder="Apellido" value="<%=locals.userLogin.apellido%>">
        </div>

        <input type="submit" value="Actualizar" class="boton-actualizar">
        <a href="/users/logout" class="boton-cerrar-sesion">Cerrar Sesión</a>
    </form>
    <form action="/users/deleteUser/<%=locals.userLogin.id%>?_method=DELETE" method="POST" id='formDelete<%=locals.userLogin.id%>'>
        <button class="boton-delete admin-delete" type='submit' onclick="confirmRemove(event,document.querySelector('#formDelete<%=locals.userLogin.id%>'))">Eliminar Cuenta</button>
    </form>

    <%- include('../partials/footer.ejs') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <%- include('../partials/scripts.ejs') %>
    <script src="/javascripts/userProfile.js"></script>

</body>

</html>