<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title : 'Home'}) %> 
<body class="home">
    <%- include('../partials/header.ejs') %> 
    <main>
        <div id="carouselExampleCaptions" class="carousel slide banners" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" style="background-image: url('/images/carrousel/<%=banners[0].fileName%>');">          
                <div class="carousel-caption d-none d-md-block">
                    <a href="/products/productList/8">
                  <h5 class="banner_h5">POR GAMERS, PARA GAMERS.</h5>
                  <p class="banner_p">Obtén ese producto que siempre quisiste, mira nuestras ofertas aqui.</p>
                </a>
                </div>
              </div>
              <div class="carousel-item" style="background-image: url('/images/carrousel/<%=banners[1].fileName%>');">     
                <div class="carousel-caption d-none d-md-block">
                    <a href="">
                        <h5 class="banner_h5">CYBERSOUND</h5>
                        <p class="banner_p">Obtén el mouse perfecto para tu ordenador. Gaming o básico, con sensor óptico o láser, para zurdos y diestros. Desde ratones sencillos hasta ratones con 6, 13 o 19 botones, con iluminación o sin ella, Cybersound tiene un mouse para vos</p>
                      </a>
                </div>
              </div>
              <div class="carousel-item " style="background-image: url('/images/carrousel/<%=banners[2].fileName%>');">
                <div class="carousel-caption d-none d-md-block">
                    <a href="">
                        <h5 class="banner_h5">NUEVA SECCIÓN STREAMING</h5>
                      </a>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <section class="main-home">
            <article class="categories">
                <ul>
                    <li><a href="/products/productList/1"><img src="/images/icons/Icono-Teclado.svg"
                                alt="Icono-Teclado"></a></li>
                    <li><a href="/products/productList/2"><img src="/images/icons/Icono-Mouse.svg" alt="Icono-Mouse"></a></li>
                    <li><a href="/products/productList/4"><img src="/images/icons/Icono-Headphones.svg"
                                alt="Icono-Headphones"></a></li>
                    <li><a href="/products/productList/5"><img src="/images/icons/Icono-Parlantes.svg"
                                alt="Icono-Parlantes"></a></li>
                    <li><a href="/products/productList/3"><img src="/images/icons/Icono-Streaming.svg"
                                alt="Icono-Streaming"></a></li>
                </ul>
            </article>
            <article class="box">
                <h2>Más vendidos</h2>
                <div class="product-container">
                    <div class="product-container2">
                        <% productos.forEach(producto => { %>
                        <% if ((producto.bestSeller == true) && (producto.showMenu == true)) { %>
                        <div class="producto top">
                            <% if (locals.userLogin) { %>
                                <% if (locals.userLogin.role === "admin") { %>
                                 
                                   <a class="boton-admin-home admin-edit" href="/products/productEdit/<%= producto.id %>">Editar</a>                  
                                <% } %>
                            <% } %>
                            <div class="card-title">
                                <h5><%= producto.name %></h5>
                            </div>
                            <a href="/products/productDetail/<%= producto.id %>"><img src="/images/products/<%= producto.images[0].fileName %>" alt="producto"></a>
                            
                            <!-- <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div> --> 
                            <% if (producto.discount > 0) { %>
                                
                                <div class="masVendido">
                                    <% if (producto.bestSeller === true) { %>
                                     
                                        <p class="cartel-vendido">mas vendido</p>
                                        <p class="descuento"><%= producto.discount %>%OFF</p>
                                    </div>
                                    <% }else {  %>
                                    <p class="descuento"><%= producto.discount %>%OFF</p>
                                </div>
                            <% } %>
                           <% } else  {%>
                            <div class="masVendido">
                                <% if (producto.bestSeller === true) { %>
                                 
                                    <p class="cartel-vendido">mas vendido</p>
                                </div>
                                <% }else {  %>
                                    <div class="espacio-div"><p></p></div>
                            </div>
    
                            <% } %>
    
                            <% } %>
                            <div class="precio-desc">
                                <% if (producto.discount > 0) { %>
                                    <s>$ <%= toThousand(producto.price)%></s>
                                    <% } else{ %>
                                        <span>$ <%= toThousand(producto.price)%></span>
                                        <% } %>    
                                <p><%= producto.discount%>% OFF</p>
                                <% if (producto.discount> 0) { %>
                                    <span class="precio">$ <%= toThousand(conDescuento(producto.price,
                                    producto.discount)) %> </span>
                                <% } %>
                            </div>
                            <div class="subtitle">
                                <h5><%= producto.name %></h5>
    
                                
                                <div class="info">
                                    <a href="/products/productDetail/<%= producto.id %>">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <% if (producto.shipping === true) { %>
                                <div class="envio">
                                    <i class="fas fa-truck"></i>
                                    <p>envio gratis</p>
                                </div>
                                <% }else {  %>
                                    <div class="espacio-div"><p></p></div>
                            <% } %>
                            <div class="precio-desc">
                                <a href="#" onclick="agregarItem('<%=producto.id%>')">
                                    <img src="/images/icons/carrito-comprar.svg" alt="">
                                </a>
                            </div>
                            <!-- <div class="especificaciones">
                                <a href="/products/productDetail/<%= producto.id %>">especificaciones</a>
                            </div> -->                            
                        </div>
                        <% } %>                   
                        <% }) %>
                    </div>
                 </div>
                    <div class="more">
                        <a href="/products/productList/7" class="ver-mas">Ver más</a>
                        <a href="/products/productList/7" class="ver-mas">></a>
                    </div>
            </article>
            <article class="box">
                <h2>Ofertas</h2>
                <div class="product-container">
                    <div class="product-container2">
                        <% productos.forEach(producto => { %>
                        <% if ((producto.offer == true) && (producto.showMenu == true)) { %>
                        <div class="producto top">
                            <% if (locals.userLogin) { %>
                                <% if (locals.userLogin.role === "admin") { %>
                                 
                                   <a class="boton-admin-home admin-edit" href="/products/productEdit/<%= producto.id %>">Editar</a>                  
                                <% } %>
                            <% } %>
                            <div class="card-title">
                                <h5><%= producto.name %></h5>
                            </div>
                            <a href="/products/productDetail/<%= producto.id %>"><img src="/images/products/<%= producto.images[0].fileName %>" alt="producto"></a>
                            <!-- <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>  -->
                            <% if (producto.discount > 0) { %>
                                
                                <div class="masVendido">
                                    <% if (producto.bestSeller === true) { %>
                                     
                                        <p class="cartel-vendido">mas vendido</p>
                                        <p class="descuento"><%= producto.discount %>%OFF</p>
                                    </div>
                                    <% }else {  %>
                                    <p class="descuento"><%= producto.discount %>%OFF</p>
                                </div>
                            <% } %>
                           <% } else  {%>
                            <div class="masVendido">
                                <% if (producto.bestSeller === true) { %>
                                 
                                    <p class="cartel-vendido">mas vendido</p>
                                </div>
                                <% }else {  %>
                                    <div class="espacio-div"><p></p></div>
                            </div>
    
                            <% } %>
    
                            <% } %>
                            <div class="precio-desc">
                                <% if (producto.discount > 0) { %>
                                    <s>$ <%= toThousand(producto.price)%></s>
                                    <% } else{ %>
                                        <span>$ <%= toThousand(producto.price)%></span>
                                        <% } %>    
                                <p><%= producto.discount%>% OFF</p>
                                <% if (producto.discount> 0) { %>
                                    <span class="precio">$ <%= toThousand(conDescuento(producto.price,
                                    producto.discount)) %> </span>
                                <% } %>
                            </div>
                            <div class="subtitle">
                                <h5><%= producto.name %></h5>
    
                                
                                <div class="info">
                                    <a href="/products/productDetail/<%= producto.id %>">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <% if (producto.shipping === true) { %>
                                <div class="envio">
                                    <i class="fas fa-truck"></i>
                                    <p>envio gratis</p>
                                </div>
                                <% }else {  %>
                                    <div class="espacio-div"><p></p></div>
                            <% } %>
                            <div class="precio-desc">
                                <a href="#" onclick="agregarItem('<%=producto.id%>')">
                                    <img src="/images/icons/carrito-comprar.svg" alt="">
                                </a>
                            </div>
                            <!-- <div class="especificaciones">
                                <a href="/products/productDetail/<%= producto.id %>">especificaciones</a>
                            </div>  -->                           
                        </div>
                        <% } %>                   
                        <% }) %>
                    </div>
                </div>
                <div class="more">
                    <a href="/products/productList/8" class="ver-mas">Ver más</a>
                    <a href="/products/productList/8" class="ver-mas">></a>
                </div>
            </article>
        </section>
        <h3 class="proximos">próximos lanzamientos</h3>
        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">               

              <div class="carousel-item active" style="background-image: url('/images/carrousel/<%=proximos[0].fileName%>');" ></div>
              <div class="carousel-item" style="background-image: url('/images/carrousel/<%=proximos[1].fileName%>');"> </div>
              <div class="carousel-item" style="background-image: url('/images/carrousel/<%=proximos[2].fileName%>');"></div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        

    </main>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scripts.ejs') %>
    
</body>

</html>